<nav th:fragment="nav" class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href="/" class="navbar-brand">QnA</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">

            <form class="navbar-form pull-left">
                <div class="input-group" style="max-width:470px;">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <p th:if="${session.sessionUser == null}">
                <li><a href="/users/login" role="button">로그인</a></li>
                <li><a href="/users/new" role="button">회원가입</a></li>
                </p>
                <p th:if="${session.sessionUser != null}">
                <li><a href="/users/logout" role="button">로그아웃</a></li>
                <li><a th:href="@{'/users/' + ${session.sessionUser.userId} + '/update'}">개인정보수정</a></li>
                </p>
            </ul>

        </div>
    </div>
</nav>
