<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/header :: header}"></div>
<body>
<div th:replace="~{fragment/navigation :: nav}"></div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${question.title}"></h5>
            <h6 class="card-subtitle mb-2 text-muted"
                th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"></h6>
            <p class="card-text" th:text="${question.writer.name}"></p>
            <p class="card-text" th:text="${question.contents}"></p>
            <div class="row">
                <div class="col-auto ms-auto"></div>
                <div class="col-auto">
                    <a class="btn btn-primary" th:href="@{'/questions/' + ${question.id} + '/update'}"
                       role="button">수정</a>
                </div>
                <div class="col-auto">
                    <form th:action="@{'/questions/' + ${question.id}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-primary" type="submit">삭제</button>
                    </form>
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/" role="button">목록</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <article th:each="answer : ${question.answers}">
        <div class="media">
            <small>
                <strong th:text="${answer.writer.name}"></strong>
                <span th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </small>
            <br>
            <span th:text="${answer.contents}"></span>
            <p>
                <small>
                    <a class="text-decoration-none"
                       th:href="@{'/questions/' + ${question.id} + '/answers/update/' + ${answer.id}}">수정</a>
                    <a class="text-decoration-none"
                       th:href="@{'/questions/' + ${question.id} + '/answers/' + ${answer.id}}">수정</a>
                </small>
            </p>
        </div>
    </article>

    <form method="post" th:action="@{'/questions/' + ${question.id} + '/answers'}">
        <textarea class="form-control" name="contents"></textarea><br>
        <div class="row">
            <div class="col-auto ms-auto"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary">답변하기</button>
            </div>
        </div>
    </form>
</div>


<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>