<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/header :: header}"></div>
<body>
<div th:replace="~{fragment/navigation :: nav}"></div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title" th:text="${question.title}"></h1>
            <h6 class="card-subtitle mb-2 text-muted"
                th:text="${question.createDate}"></h6>
            <input type="hidden" id="questionId" th:value="${question.id}"/>
            <p class="card-text" th:text="'작성자:' + ${question.user.getNickname}"></p>
            <hr>
            <p class="card-text" th:utext="${question.content}"></p>
            <div class="row">
                <div class="col-auto ms-auto">
                    <span th:if="${question.user.id == #authentication.principal.user.id}">
                        <a th:href="@{'/questions/' + ${question.id} + '/update'}" class="btn btn-primary"
                           role="button">수정</a>
                        <button id="btn-delete" class="btn btn-primary">삭제</button>
                    </span>
                    <button class="btn btn-primary" onclick="history.back()">목록</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <form>
            <input type="hidden" id="boardId" th:value="${question.id}"/>
            <div class="card-body">
                <textarea id="answer-content" class="form-control" name="contents" rows="2"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btn-answer-save" class="btn btn-primary">답변하기</button>
            </div>
        </form>
    </div>
    <br>

    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <div class="card-body">
            <article th:each="answer : ${question.answers}">
                <small>
                    <strong th:text="${answer.user.getNickname}"></strong>
                    <span th:text="${answer.createDate}"></span>
                    <span th:if="${answer.user.id == #authentication.principal.user.id}">
                    <button th:onclick="|index.answerDelete(${question.id},${answer.id})|"
                            class="btn btn-link">삭제</button>
                </span>
                </small>
                <br>
                <span th:text="${answer.content}"></span>
            </article>
        </div>
    </div>
</div>

<script src="/js/question.js"></script>
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>